@use "../abstracts/variables" as *;

a{
    border-radius: 10px ;
    padding: 15px 30px;
    border: 2px solid $primaryColor;
    background-color: $primaryColor;
    color: $secondaryColor;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    &:hover{
        color: inherit;
        background-color: transparent;
    }
}