$primaryColor:#FFE701;
$primaryColorTrance:#ffe601b6;
$secondaryColor:#1B1B1B;
$tertiaryColor:#E5E5E5;
$txtMainColor:#FBFBFB;
$txtSecColor:rgb(110, 110, 110);
$marginY:10px;
$marginX:10px;
$paddingY:30px;
$paddingX:20PX;
$padding:20px;

